In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load original data set
data_path = '/Volumes/Transcend/metis_data/Turnstile_Usage_Data__2018.csv'
df_orig = pd.read_csv(data_path )
df_orig

In [ ]:
import re
# Truncating data set
mask = df_orig['Date'].map(lambda x: re.search('(05|06)/.+/2018', x) != None)
df = df_orig[mask]

# Adding new column 'Full Time' with data and time information
df['Full Time']=pd.to_datetime(df['Date'] + ' ' + df['Time'], format = '%m/%d/%Y %H:%M:%S')

# Adding new column for day of week
df['dayofweek']=df['Full Time'].dt.dayofweek

In [91]:
# Creates list of times we want to query.
may = []
june = []
for i in range(1,32):
    may.append('2018-05-' + '{:02d}'.format(i)+ ' 00:00:00')
for i in range(1,31):
    june.append('2018-06-' + '{:02d}'.format(i) + ' 00:00:00')
times_query = may + june

# Create a group dataframe for each individual turnstile
gdf = df.groupby(['SCP','C/A','Station'])

# Initialize empty dataframe to append entries per day 
df_day = pd.DataFrame()

# iterates over turnstiles
for name, group in gdf:
    
    # filter out only relevant columns
    df_dev = group[['SCP','C/A','Entries','Full Time','Station']]
    
    # Place nan's at time points where we want to interpolate
    for time in times_query:    
        if df_dev[df_dev['Full Time']==time].empty:
            df_newrow = pd.DataFrame.from_dict({'Full Time': pd.Timestamp(time), 
                                                'Entries': [np.nan],
                                                 'SCP':name[0],
                                                 'C/A':name[1],
                                                 'Station':name[2]})
            df_dev = pd.concat([df_dev,df_newrow])
    
    # Interpolate all numerical values ('Entries' is the only numerical column in this case)
    df_dev = df_dev.sort_values(by=['Full Time'])
    df_dev = df_dev.interpolate()
    
    # Filters on just the times we queried in times_query list
    mask = df_dev['Full Time'].map(lambda x: str(x) in times_query)
    df_dev = df_dev[mask]
    
    # Finds the time difference between days
    df_dev = df_dev.sort_values(by=['Full Time'])
    df_dev['Entries_diff']=df_dev['Entries'].diff()
    
    # Appends entries per day data for each turnstile.
    df_day = pd.concat([df_day,df_dev])
    
print(df_day)

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:24: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:38: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     C/A    Entries  Entries_diff  Full Time       SCP     Station
0   A006        NaN           NaN 2018-05-01  00-00-00  5 AV/59 ST
0   A006  3328106.5           NaN 2018-05-02  00-00-00  5 AV/59 ST
0   A006  3329790.5        1684.0 2018-05-03  00-00-00  5 AV/59 ST
0   A006  3331426.5        1636.0 2018-05-04  00-00-00  5 AV/59 ST
0   A006  3333145.0        1718.5 2018-05-05  00-00-00  5 AV/59 ST
0   A006  3334095.0         950.0 2018-05-06  00-00-00  5 AV/59 ST
0   A006  3334799.0         704.0 2018-05-07  00-00-00  5 AV/59 ST
0   A006  3336401.0        1602.0 2018-05-08  00-00-00  5 AV/59 ST
0   A006  3338129.5        1728.5 2018-05-09  00-00-00  5 AV/59 ST
0   A006  3339850.5        1721.0 2018-05-10  00-00-00  5 AV/59 ST
0   A006  3341488.5        1638.0 2018-05-11  00-00-00  5 AV/59 ST
0   A006  3343195.0        1706.5 2018-05-12  00-00-00  5 AV/59 ST
0   A006  3344108.5         913.5 2018-05-13  00-00-00  5 AV/59 ST
0   A006  3344810.0         701.5 2018-05-14  00-00-00  5 AV/59 ST
0   A006  3346360.0        1550.0 2018-05-15  00-00-00  5 AV/59 ST
0   A006  3348195.0        1835.0 2018-05-16  00-00-00  5 AV/59 ST
0   A006  3349885.0        1690.0 2018-05-17  00-00-00  5 AV/59 ST
0   A006  3351611.0        1726.0 2018-05-18  00-00-00  5 AV/59 ST
0   A006  3353317.0        1706.0 2018-05-19  00-00-00  5 AV/59 ST
0   A006  3354151.0         834.0 2018-05-20  00-00-00  5 AV/59 ST
0   A006  3354996.0         845.0 2018-05-21  00-00-00  5 AV/59 ST
0   A006  3356677.5        1681.5 2018-05-22  00-00-00  5 AV/59 ST
0   A006  3358400.5        1723.0 2018-05-23  00-00-00  5 AV/59 ST
0   A006  3360214.5        1814.0 2018-05-24  00-00-00  5 AV/59 ST
0   A006  3361941.0        1726.5 2018-05-25  00-00-00  5 AV/59 ST
0   A006  3363567.0        1626.0 2018-05-26  00-00-00  5 AV/59 ST
0   A006  3364389.5         822.5 2018-05-27  00-00-00  5 AV/59 ST
0   A006  3364958.0         568.5 2018-05-28  00-00-00  5 AV/59 ST
0   A006  3365695.0         737.0 2018-05-29  00-00-00  5 AV/59 ST
0   A006  3367302.0        1607.0 2018-05-30  00-00-00  5 AV/59 ST
..   ...        ...           ...        ...       ...         ...
0   A082   383363.5        1282.0 2018-06-01  05-06-01   FULTON ST
0   A082   384511.0        1147.5 2018-06-02  05-06-01   FULTON ST
0   A082   385031.5         520.5 2018-06-03  05-06-01   FULTON ST
0   A082   385565.5         534.0 2018-06-04  05-06-01   FULTON ST
0   A082   386718.5        1153.0 2018-06-05  05-06-01   FULTON ST
0   A082   387834.5        1116.0 2018-06-06  05-06-01   FULTON ST
0   A082   388912.5        1078.0 2018-06-07  05-06-01   FULTON ST
0   A082   390072.5        1160.0 2018-06-08  05-06-01   FULTON ST
0   A082   391079.0        1006.5 2018-06-09  05-06-01   FULTON ST
0   A082   391530.0         451.0 2018-06-10  05-06-01   FULTON ST
0   A082   391861.0         331.0 2018-06-11  05-06-01   FULTON ST
0   A082   392903.0        1042.0 2018-06-12  05-06-01   FULTON ST
0   A082   394028.0        1125.0 2018-06-13  05-06-01   FULTON ST
0   A082   395151.0        1123.0 2018-06-14  05-06-01   FULTON ST
0   A082   396239.5        1088.5 2018-06-15  05-06-01   FULTON ST
0   A082   397254.0        1014.5 2018-06-16  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-17  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-18  05-06-01   FULTON ST
0   A082   398347.5        1093.5 2018-06-19  05-06-01   FULTON ST
0   A082   399502.0        1154.5 2018-06-20  05-06-01   FULTON ST
0   A082   400673.0        1171.0 2018-06-21  05-06-01   FULTON ST
0   A082   401871.5        1198.5 2018-06-22  05-06-01   FULTON ST
0   A082   402966.5        1095.0 2018-06-23  05-06-01   FULTON ST
0   A082   403422.5         456.0 2018-06-24  05-06-01   FULTON ST
0   A082   403807.0         384.5 2018-06-25  05-06-01   FULTON ST
0   A082   404909.5        1102.5 2018-06-26  05-06-01   FULTON ST
0   A082   406080.0        1170.5 2018-06-27  05-06-01   FULTON ST
0   A082   407202.0        1122.0 2018-06-28  05-06-01   FULTON ST
0   A082   408508.5        1306.5 2018-06-29  05-06-01   FULTON ST
0   A082   409565.5        1057.0 2018-06-30  05-06-01   FULTON ST

[289140 rows x 6 columns]

In [101]:
# Postprocessing
df_day_new = df_day.reset_index(drop=True)
df_day_new = df_day_new.dropna() # removes nan's due to interpolation at end cases
df_day_new = df_day_new[df_day_new['Full Time'] >= '2018-05-06'] # 2018-05-06 is 8 weeks prior to 2018-07-01 
df_day_new = df_day_new.drop(columns=['Entries'])
df_day_new = df_day_new.rename(index=str, columns={"Entries_diff": "Entries_per_day"})
df_day_new

         C/A  Entries_per_day  Full Time       SCP     Station
5       A006            950.0 2018-05-06  00-00-00  5 AV/59 ST
6       A006            704.0 2018-05-07  00-00-00  5 AV/59 ST
7       A006           1602.0 2018-05-08  00-00-00  5 AV/59 ST
8       A006           1728.5 2018-05-09  00-00-00  5 AV/59 ST
9       A006           1721.0 2018-05-10  00-00-00  5 AV/59 ST
10      A006           1638.0 2018-05-11  00-00-00  5 AV/59 ST
11      A006           1706.5 2018-05-12  00-00-00  5 AV/59 ST
12      A006            913.5 2018-05-13  00-00-00  5 AV/59 ST
13      A006            701.5 2018-05-14  00-00-00  5 AV/59 ST
14      A006           1550.0 2018-05-15  00-00-00  5 AV/59 ST
15      A006           1835.0 2018-05-16  00-00-00  5 AV/59 ST
16      A006           1690.0 2018-05-17  00-00-00  5 AV/59 ST
17      A006           1726.0 2018-05-18  00-00-00  5 AV/59 ST
18      A006           1706.0 2018-05-19  00-00-00  5 AV/59 ST
19      A006            834.0 2018-05-20  00-00-00  5 AV/59 ST
20      A006            845.0 2018-05-21  00-00-00  5 AV/59 ST
21      A006           1681.5 2018-05-22  00-00-00  5 AV/59 ST
22      A006           1723.0 2018-05-23  00-00-00  5 AV/59 ST
23      A006           1814.0 2018-05-24  00-00-00  5 AV/59 ST
24      A006           1726.5 2018-05-25  00-00-00  5 AV/59 ST
25      A006           1626.0 2018-05-26  00-00-00  5 AV/59 ST
26      A006            822.5 2018-05-27  00-00-00  5 AV/59 ST
27      A006            568.5 2018-05-28  00-00-00  5 AV/59 ST
28      A006            737.0 2018-05-29  00-00-00  5 AV/59 ST
29      A006           1607.0 2018-05-30  00-00-00  5 AV/59 ST
30      A006           1675.0 2018-05-31  00-00-00  5 AV/59 ST
31      A006           1766.5 2018-06-01  00-00-00  5 AV/59 ST
32      A006           1641.0 2018-06-02  00-00-00  5 AV/59 ST
33      A006            909.0 2018-06-03  00-00-00  5 AV/59 ST
34      A006            684.5 2018-06-04  00-00-00  5 AV/59 ST
...      ...              ...        ...       ...         ...
289110  A082           1282.0 2018-06-01  05-06-01   FULTON ST
289111  A082           1147.5 2018-06-02  05-06-01   FULTON ST
289112  A082            520.5 2018-06-03  05-06-01   FULTON ST
289113  A082            534.0 2018-06-04  05-06-01   FULTON ST
289114  A082           1153.0 2018-06-05  05-06-01   FULTON ST
289115  A082           1116.0 2018-06-06  05-06-01   FULTON ST
289116  A082           1078.0 2018-06-07  05-06-01   FULTON ST
289117  A082           1160.0 2018-06-08  05-06-01   FULTON ST
289118  A082           1006.5 2018-06-09  05-06-01   FULTON ST
289119  A082            451.0 2018-06-10  05-06-01   FULTON ST
289120  A082            331.0 2018-06-11  05-06-01   FULTON ST
289121  A082           1042.0 2018-06-12  05-06-01   FULTON ST
289122  A082           1125.0 2018-06-13  05-06-01   FULTON ST
289123  A082           1123.0 2018-06-14  05-06-01   FULTON ST
289124  A082           1088.5 2018-06-15  05-06-01   FULTON ST
289125  A082           1014.5 2018-06-16  05-06-01   FULTON ST
289126  A082              0.0 2018-06-17  05-06-01   FULTON ST
289127  A082              0.0 2018-06-18  05-06-01   FULTON ST
289128  A082           1093.5 2018-06-19  05-06-01   FULTON ST
289129  A082           1154.5 2018-06-20  05-06-01   FULTON ST
289130  A082           1171.0 2018-06-21  05-06-01   FULTON ST
289131  A082           1198.5 2018-06-22  05-06-01   FULTON ST
289132  A082           1095.0 2018-06-23  05-06-01   FULTON ST
289133  A082            456.0 2018-06-24  05-06-01   FULTON ST
289134  A082            384.5 2018-06-25  05-06-01   FULTON ST
289135  A082           1102.5 2018-06-26  05-06-01   FULTON ST
289136  A082           1170.5 2018-06-27  05-06-01   FULTON ST
289137  A082           1122.0 2018-06-28  05-06-01   FULTON ST
289138  A082           1306.5 2018-06-29  05-06-01   FULTON ST
289139  A082           1057.0 2018-06-30  05-06-01   FULTON ST

[264147 rows x 5 columns]

In [103]:
df_day_new.to_csv('Entries_per_day.csv')