In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
data_path = '/Volumes/Transcend/metis_data/Turnstile_Usage_Data__2018.csv'
df_orig = pd.read_csv(data_path )
df_orig

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,2056268,5177036
1,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,70294362,20274025
2,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,14197229,13704110
3,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1806541,2182381
4,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,15598097,6250334
5,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,6069026,7074661
6,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,4927946,3748371
7,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1806541,2182381
8,A033,R170,02-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,694109,207786
9,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,70294362,20274025
10,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,2056268,5177036
11,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,4927946,3748371
12,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,6069026,7074661
13,A033,R170,02-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,694109,207786
14,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,14197229,13704110
15,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,15598097,6250334
16,A034,R170,03-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1923632,14843362
17,A034,R170,03-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3687618,2644410
18,A034,R170,03-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1923632,14843362
19,A034,R170,03-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,68007701,17207000
20,A034,R170,03-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,499334,1229391
21,A034,R170,03-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,68007701,17207000
22,A034,R170,03-06-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,202795687,85357013
23,A034,R170,03-03-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3298435,8319358
24,A034,R170,03-06-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,202795687,85357013
25,A034,R170,03-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,499334,1229391
26,A034,R170,03-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3965537,2697302
27,A034,R170,03-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3687618,2644410
28,A034,R170,03-03-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,5569358,3334854
29,A034,R170,03-03-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,11499477,1255112
...,...,...,...,...,...,...,...,...,...,...,...
10111441,PTH17,R541,01-00-03,THIRTY THIRD ST,1,PTH,12/23/2017,23:34:05,REGULAR,0,624646
10111442,PTH19,R549,02-02-04,NEWARK C,1,PTH,12/23/2017,23:34:44,REGULAR,11458,1207
10111443,PTH07,R550,00-01-00,CITY / BUS,1,PTH,12/23/2017,23:35:17,REGULAR,705646,316016
10111444,PTH07,R550,00-01-03,CITY / BUS,1,PTH,12/23/2017,23:35:38,REGULAR,22560,7426
10111445,PTH20,R549,03-01-04,NEWARK HM HE,1,PTH,12/23/2017,23:36:26,REGULAR,20148,508771
10111446,PTH04,R551,00-01-04,GROVE STREET,1,PTH,12/23/2017,23:37:50,REGULAR,12267,27879
10111447,PTH03,R552,00-00-0A,JOURNAL SQUARE,1,PTH,12/23/2017,23:38:27,REGULAR,63,3552289
10111448,PTH20,R549,03-01-08,NEWARK HM HE,1,PTH,12/23/2017,23:39:21,REGULAR,40,3930
10111449,PTH04,R551,00-01-02,GROVE STREET,1,PTH,12/23/2017,23:40:50,REGULAR,294205,400278
10111450,PTH22,R540,00-04-07,PATH NEW WTC,1,PTH,12/23/2017,23:42:06,REGULAR,10819,23659
10111451,PTH05,R543,00-00-03,EXCHANGE PLACE,1,PTH,12/23/2017,23:43:25,REGULAR,592989,152535
10111452,PTH09,R548,00-00-00,CHRISTOPHER ST,1,PTH,12/23/2017,23:43:39,REGULAR,471951,756777
10111453,PTH19,R549,02-01-06,NEWARK C,1,PTH,12/23/2017,23:43:45,REGULAR,71881,8153
10111454,PTH05,R543,00-04-02,EXCHANGE PLACE,1,PTH,12/23/2017,23:44:33,REGULAR,151,44
10111455,PTH04,R551,00-04-06,GROVE STREET,1,PTH,12/23/2017,23:44:46,REGULAR,33382,20603
10111456,PTH04,R551,00-00-00,GROVE STREET,1,PTH,12/23/2017,23:46:15,REGULAR,151201,46323
10111457,PTH03,R552,00-00-03,JOURNAL SQUARE,1,PTH,12/23/2017,23:47:27,REGULAR,82025,24232
10111458,PTH10,R547,00-00-04,9TH STREET,1,PTH,12/23/2017,23:48:09,REGULAR,133500,790410
10111459,PTH11,R545,00-00-03,14TH STREET,1,PTH,12/23/2017,23:48:51,REGULAR,4271,195
10111460,PTH02,R544,00-00-00,HARRISON,1,PTH,12/23/2017,23:48:59,REGULAR,29679,7207
10111461,PTH05,R543,00-00-00,EXCHANGE PLACE,1,PTH,12/23/2017,23:49:08,REGULAR,711590,47759
10111462,PTH17,R541,01-01-03,THIRTY THIRD ST,1,PTH,12/23/2017,23:49:20,REGULAR,248386,113198
10111463,PTH06,R546,00-00-02,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:51:49,REGULAR,3021,866
10111464,PTH16,R550,01-00-00,LACKAWANNA,1,PTH,12/23/2017,23:52:01,REGULAR,14659,51404
10111465,PTH05,R543,00-01-07,EXCHANGE PLACE,1,PTH,12/23/2017,23:54:18,REGULAR,14057,2311
10111466,PTH22,R540,00-01-00,PATH NEW WTC,1,PTH,12/23/2017,23:54:36,REGULAR,99297,24068
10111467,PTH06,R546,00-00-03,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:55:47,REGULAR,4417,2955
10111468,PTH07,R550,00-02-02,CITY / BUS,1,PTH,12/23/2017,23:58:16,REGULAR,12121,56099
10111469,PTH06,R546,00-00-06,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:58:34,REGULAR,174521,680268
10111470,PTH03,R552,00-00-07,JOURNAL SQUARE,1,PTH,12/23/2017,23:59:34,REGULAR,4020504,1291262

In [38]:
import re
mask = df_orig['Date'].map(lambda x: re.search('(05|06)/.+/2018', x) != None)
df = df_orig[mask]
df

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
4937116,A002,R051,02-05-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,0,785
4937117,A002,R051,02-03-02,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5829202,7929617
4937118,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,6675523,2262828
4937119,A002,R051,02-03-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,745916,1157188
4937120,A002,R051,02-06-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,7545453,160663
4937121,A002,R051,02-03-04,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,6760979,3552066
4937122,A002,R051,02-03-06,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,8555445,491076
4937123,A002,R051,02-00-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5978032,1338019
4937124,A002,R051,02-05-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,1544,0
4937125,A002,R051,02-03-03,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5420059,6307785
4937126,A002,R051,02-03-05,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,10875278,1361551
4937127,A002,R051,02-03-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,1096971,4093215
4937128,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,862839,242209
4937129,A010,R080,00-00-01,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,14486668,5457561
4937130,A010,R080,00-00-07,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,272628,32310
4937131,A010,R080,00-00-04,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3856457,1944129
4937132,A010,R080,00-00-00,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3424159,1601623
4937133,A010,R080,00-00-06,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,17812908,5033982
4937134,A010,R080,00-00-03,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3085380,1525415
4937135,A010,R080,00-00-02,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,10551116,4127543
4937136,A011,R080,01-00-01,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,16652715,17989829
4937137,A011,R080,01-00-02,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1562339488,1293333218
4937138,A011,R080,01-00-05,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1700223,1633381
4937139,A011,R080,01-00-03,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1662676038,1256364574
4937140,A011,R080,01-00-04,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,450072,428390
4937141,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,885907529,491229321
4937142,A013,R081,01-05-00,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,883,0
4937143,A013,R081,01-03-00,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,4475026,5020406
4937144,A013,R081,01-03-02,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,5286794,2342790
4937145,A013,R081,01-05-01,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,0,605
...,...,...,...,...,...,...,...,...,...,...,...
6653065,PTH10,R547,00-00-02,9TH STREET,1,PTH,05/01/2018,23:27:18,REGULAR,347558,355379
6653066,PTH07,R550,00-02-03,CITY / BUS,1,PTH,05/01/2018,23:28:06,REGULAR,9590,42851
6653067,PTH18,R549,01-02-01,NEWARK BM BW,1,PTH,05/01/2018,23:29:10,REGULAR,86567,3875
6653068,PTH21,R540,01-00-04,PATH WTC 2,1,PTH,05/01/2018,23:30:15,REGULAR,241553,786981
6653069,PTH06,R546,00-00-02,PAVONIA/NEWPORT,1,PTH,05/01/2018,23:31:15,REGULAR,269207,97222
6653070,PTH02,R544,00-00-04,HARRISON,1,PTH,05/01/2018,23:33:03,REGULAR,159138,8563
6653071,PTH18,R549,01-00-04,NEWARK BM BW,1,PTH,05/01/2018,23:33:17,REGULAR,4010,79
6653072,PTH07,R550,00-00-08,CITY / BUS,1,PTH,05/01/2018,23:34:17,REGULAR,50674,180519
6653073,PTH18,R549,01-00-00,NEWARK BM BW,1,PTH,05/01/2018,23:34:29,REGULAR,174888,124016
6653074,PTH01,R549,00-00-09,NEWARK HW BMEBE,1,PTH,05/01/2018,23:35:25,REGULAR,981965,43967
6653075,PTH07,R550,00-00-04,CITY / BUS,1,PTH,05/01/2018,23:36:43,REGULAR,4433,2958
6653076,PTH05,R543,00-01-03,EXCHANGE PLACE,1,PTH,05/01/2018,23:38:00,REGULAR,14179,13993
6653077,PTH20,R549,03-01-05,NEWARK HM HE,1,PTH,05/01/2018,23:38:15,REGULAR,1456,61330
6653078,PTH13,R541,00-04-08,THIRTY ST,1,PTH,05/01/2018,23:39:03,REGULAR,0,591502
6653079,PTH04,R551,00-00-04,GROVE STREET,1,PTH,05/01/2018,23:40:57,REGULAR,36633,66022
6653080,PTH18,R549,01-02-03,NEWARK BM BW,1,PTH,05/01/2018,23:45:02,REGULAR,28550,659
6653081,PTH13,R541,00-04-03,THIRTY ST,1,PTH,05/01/2018,23:46:21,REGULAR,515879,54568
6653082,PTH01,R549,00-01-04,NEWARK HW BMEBE,1,PTH,05/01/2018,23:47:01,REGULAR,911,350107
6653083,PTH19,R549,02-00-03,NEWARK C,1,PTH,05/01/2018,23:47:33,REGULAR,77231,5203
6653084,PTH16,R550,01-01-07,LACKAWANNA,1,PTH,05/01/2018,23:48:08,REGULAR,7708,4960
6653085,PTH16,R550,01-02-03,LACKAWANNA,1,PTH,05/01/2018,23:48:55,REGULAR,125,1512
6653086,PTH13,R541,00-04-01,THIRTY ST,1,PTH,05/01/2018,23:50:45,REGULAR,1302074,310275
6653087,PTH19,R549,02-02-03,NEWARK C,1,PTH,05/01/2018,23:51:25,REGULAR,166330,5017
6653088,PTH20,R549,03-01-09,NEWARK HM HE,1,PTH,05/01/2018,23:52:54,REGULAR,119,6030
6653089,PTH01,R549,00-00-05,NEWARK HW BMEBE,1,PTH,05/01/2018,23:54:22,REGULAR,31515,7429
6653090,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,05/01/2018,23:54:24,REGULAR,46258,1127352
6653091,PTH05,R543,00-00-01,EXCHANGE PLACE,1,PTH,05/01/2018,23:56:17,REGULAR,67055,2915
6653092,PTH22,R540,00-00-04,PATH NEW WTC,1,PTH,05/01/2018,23:56:32,REGULAR,139949,242234
6653093,PTH03,R552,00-01-04,JOURNAL SQUARE,1,PTH,05/01/2018,23:57:51,REGULAR,113846,77867
6653094,PTH04,R551,00-04-01,GROVE STREET,1,PTH,05/01/2018,23:59:08,REGULAR,138323,120738

In [39]:
df['Full Time']=pd.to_datetime(df['Date'] + ' ' + df['Time'], format = '%m/%d/%Y %H:%M:%S')

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
df['dayofweek']=df['Full Time'].dt.dayofweek

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
gdf = df.groupby(['SCP','C/A','Station'])

df_day = pd.DataFrame()

for name, group in gdf:
    df_dev = group[['SCP','C/A','Entries','Full Time','Station']]
    #print(df_dev)
    may = []
    june = []
    for i in range(1,32):
        may.append('2018-05-' + '{:02d}'.format(i)+ ' 00:00:00')
    for i in range(1,31):
        june.append('2018-06-' + '{:02d}'.format(i) + ' 00:00:00')

    times_query = may + june
    
    for time in times_query:    
        if df_dev[df_dev['Full Time']==time].empty:
            df_newrow = pd.DataFrame.from_dict({'Full Time': pd.Timestamp(time), 
                                                'Entries': [np.nan],
                                                 'SCP':name[0],
                                                 'C/A':name[1],
                                                 'Station':name[2]})
            df_dev = pd.concat([df_dev,df_newrow])
    
    
    df_dev = df_dev.sort_values(by=['Full Time'])
    df_dev = df_dev.interpolate()
            
#     df_dev['Entries_diff']=df_dev['Entries'].diff()
#     df_dev['Time_diff']=df_dev['Full Time'].diff()
    
    mask = df_dev['Full Time'].map(lambda x: str(x) in times_query)
    df_dev = df_dev[mask]
    df_dev = df_dev.sort_values(by=['Full Time'])
    df_dev['Entries_diff']=df_dev['Entries'].diff()
    
    df_day = pd.concat([df_day,df_dev])
    
#     df_new = df_dev[df_dev['Full Time'] in times_query]
    
    
#     df_new = df_new.sort_values(by=['Full Time'])    
    
#     print(df_new)
#     #print(len(group['Unit'].unique()))
#     df_new.plot(x='Full Time',y='Entries')
    
print(df_day)

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:24: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:38: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     C/A    Entries  Entries_diff  Full Time       SCP     Station
0   A006        NaN           NaN 2018-05-01  00-00-00  5 AV/59 ST
0   A006  3328106.5           NaN 2018-05-02  00-00-00  5 AV/59 ST
0   A006  3329790.5        1684.0 2018-05-03  00-00-00  5 AV/59 ST
0   A006  3331426.5        1636.0 2018-05-04  00-00-00  5 AV/59 ST
0   A006  3333145.0        1718.5 2018-05-05  00-00-00  5 AV/59 ST
0   A006  3334095.0         950.0 2018-05-06  00-00-00  5 AV/59 ST
0   A006  3334799.0         704.0 2018-05-07  00-00-00  5 AV/59 ST
0   A006  3336401.0        1602.0 2018-05-08  00-00-00  5 AV/59 ST
0   A006  3338129.5        1728.5 2018-05-09  00-00-00  5 AV/59 ST
0   A006  3339850.5        1721.0 2018-05-10  00-00-00  5 AV/59 ST
0   A006  3341488.5        1638.0 2018-05-11  00-00-00  5 AV/59 ST
0   A006  3343195.0        1706.5 2018-05-12  00-00-00  5 AV/59 ST
0   A006  3344108.5         913.5 2018-05-13  00-00-00  5 AV/59 ST
0   A006  3344810.0         701.5 2018-05-14  00-00-00  5 AV/59 ST
0   A006  3346360.0        1550.0 2018-05-15  00-00-00  5 AV/59 ST
0   A006  3348195.0        1835.0 2018-05-16  00-00-00  5 AV/59 ST
0   A006  3349885.0        1690.0 2018-05-17  00-00-00  5 AV/59 ST
0   A006  3351611.0        1726.0 2018-05-18  00-00-00  5 AV/59 ST
0   A006  3353317.0        1706.0 2018-05-19  00-00-00  5 AV/59 ST
0   A006  3354151.0         834.0 2018-05-20  00-00-00  5 AV/59 ST
0   A006  3354996.0         845.0 2018-05-21  00-00-00  5 AV/59 ST
0   A006  3356677.5        1681.5 2018-05-22  00-00-00  5 AV/59 ST
0   A006  3358400.5        1723.0 2018-05-23  00-00-00  5 AV/59 ST
0   A006  3360214.5        1814.0 2018-05-24  00-00-00  5 AV/59 ST
0   A006  3361941.0        1726.5 2018-05-25  00-00-00  5 AV/59 ST
0   A006  3363567.0        1626.0 2018-05-26  00-00-00  5 AV/59 ST
0   A006  3364389.5         822.5 2018-05-27  00-00-00  5 AV/59 ST
0   A006  3364958.0         568.5 2018-05-28  00-00-00  5 AV/59 ST
0   A006  3365695.0         737.0 2018-05-29  00-00-00  5 AV/59 ST
0   A006  3367302.0        1607.0 2018-05-30  00-00-00  5 AV/59 ST
..   ...        ...           ...        ...       ...         ...
0   A082   383363.5        1282.0 2018-06-01  05-06-01   FULTON ST
0   A082   384511.0        1147.5 2018-06-02  05-06-01   FULTON ST
0   A082   385031.5         520.5 2018-06-03  05-06-01   FULTON ST
0   A082   385565.5         534.0 2018-06-04  05-06-01   FULTON ST
0   A082   386718.5        1153.0 2018-06-05  05-06-01   FULTON ST
0   A082   387834.5        1116.0 2018-06-06  05-06-01   FULTON ST
0   A082   388912.5        1078.0 2018-06-07  05-06-01   FULTON ST
0   A082   390072.5        1160.0 2018-06-08  05-06-01   FULTON ST
0   A082   391079.0        1006.5 2018-06-09  05-06-01   FULTON ST
0   A082   391530.0         451.0 2018-06-10  05-06-01   FULTON ST
0   A082   391861.0         331.0 2018-06-11  05-06-01   FULTON ST
0   A082   392903.0        1042.0 2018-06-12  05-06-01   FULTON ST
0   A082   394028.0        1125.0 2018-06-13  05-06-01   FULTON ST
0   A082   395151.0        1123.0 2018-06-14  05-06-01   FULTON ST
0   A082   396239.5        1088.5 2018-06-15  05-06-01   FULTON ST
0   A082   397254.0        1014.5 2018-06-16  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-17  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-18  05-06-01   FULTON ST
0   A082   398347.5        1093.5 2018-06-19  05-06-01   FULTON ST
0   A082   399502.0        1154.5 2018-06-20  05-06-01   FULTON ST
0   A082   400673.0        1171.0 2018-06-21  05-06-01   FULTON ST
0   A082   401871.5        1198.5 2018-06-22  05-06-01   FULTON ST
0   A082   402966.5        1095.0 2018-06-23  05-06-01   FULTON ST
0   A082   403422.5         456.0 2018-06-24  05-06-01   FULTON ST
0   A082   403807.0         384.5 2018-06-25  05-06-01   FULTON ST
0   A082   404909.5        1102.5 2018-06-26  05-06-01   FULTON ST
0   A082   406080.0        1170.5 2018-06-27  05-06-01   FULTON ST
0   A082   407202.0        1122.0 2018-06-28  05-06-01   FULTON ST
0   A082   408508.5        1306.5 2018-06-29  05-06-01   FULTON ST
0   A082   409565.5        1057.0 2018-06-30  05-06-01   FULTON ST

[289140 rows x 6 columns]

In [92]:
df_day

     C/A    Entries  Entries_diff  Full Time       SCP     Station
0   A006        NaN           NaN 2018-05-01  00-00-00  5 AV/59 ST
0   A006  3328106.5           NaN 2018-05-02  00-00-00  5 AV/59 ST
0   A006  3329790.5        1684.0 2018-05-03  00-00-00  5 AV/59 ST
0   A006  3331426.5        1636.0 2018-05-04  00-00-00  5 AV/59 ST
0   A006  3333145.0        1718.5 2018-05-05  00-00-00  5 AV/59 ST
0   A006  3334095.0         950.0 2018-05-06  00-00-00  5 AV/59 ST
0   A006  3334799.0         704.0 2018-05-07  00-00-00  5 AV/59 ST
0   A006  3336401.0        1602.0 2018-05-08  00-00-00  5 AV/59 ST
0   A006  3338129.5        1728.5 2018-05-09  00-00-00  5 AV/59 ST
0   A006  3339850.5        1721.0 2018-05-10  00-00-00  5 AV/59 ST
0   A006  3341488.5        1638.0 2018-05-11  00-00-00  5 AV/59 ST
0   A006  3343195.0        1706.5 2018-05-12  00-00-00  5 AV/59 ST
0   A006  3344108.5         913.5 2018-05-13  00-00-00  5 AV/59 ST
0   A006  3344810.0         701.5 2018-05-14  00-00-00  5 AV/59 ST
0   A006  3346360.0        1550.0 2018-05-15  00-00-00  5 AV/59 ST
0   A006  3348195.0        1835.0 2018-05-16  00-00-00  5 AV/59 ST
0   A006  3349885.0        1690.0 2018-05-17  00-00-00  5 AV/59 ST
0   A006  3351611.0        1726.0 2018-05-18  00-00-00  5 AV/59 ST
0   A006  3353317.0        1706.0 2018-05-19  00-00-00  5 AV/59 ST
0   A006  3354151.0         834.0 2018-05-20  00-00-00  5 AV/59 ST
0   A006  3354996.0         845.0 2018-05-21  00-00-00  5 AV/59 ST
0   A006  3356677.5        1681.5 2018-05-22  00-00-00  5 AV/59 ST
0   A006  3358400.5        1723.0 2018-05-23  00-00-00  5 AV/59 ST
0   A006  3360214.5        1814.0 2018-05-24  00-00-00  5 AV/59 ST
0   A006  3361941.0        1726.5 2018-05-25  00-00-00  5 AV/59 ST
0   A006  3363567.0        1626.0 2018-05-26  00-00-00  5 AV/59 ST
0   A006  3364389.5         822.5 2018-05-27  00-00-00  5 AV/59 ST
0   A006  3364958.0         568.5 2018-05-28  00-00-00  5 AV/59 ST
0   A006  3365695.0         737.0 2018-05-29  00-00-00  5 AV/59 ST
0   A006  3367302.0        1607.0 2018-05-30  00-00-00  5 AV/59 ST
..   ...        ...           ...        ...       ...         ...
0   A082   383363.5        1282.0 2018-06-01  05-06-01   FULTON ST
0   A082   384511.0        1147.5 2018-06-02  05-06-01   FULTON ST
0   A082   385031.5         520.5 2018-06-03  05-06-01   FULTON ST
0   A082   385565.5         534.0 2018-06-04  05-06-01   FULTON ST
0   A082   386718.5        1153.0 2018-06-05  05-06-01   FULTON ST
0   A082   387834.5        1116.0 2018-06-06  05-06-01   FULTON ST
0   A082   388912.5        1078.0 2018-06-07  05-06-01   FULTON ST
0   A082   390072.5        1160.0 2018-06-08  05-06-01   FULTON ST
0   A082   391079.0        1006.5 2018-06-09  05-06-01   FULTON ST
0   A082   391530.0         451.0 2018-06-10  05-06-01   FULTON ST
0   A082   391861.0         331.0 2018-06-11  05-06-01   FULTON ST
0   A082   392903.0        1042.0 2018-06-12  05-06-01   FULTON ST
0   A082   394028.0        1125.0 2018-06-13  05-06-01   FULTON ST
0   A082   395151.0        1123.0 2018-06-14  05-06-01   FULTON ST
0   A082   396239.5        1088.5 2018-06-15  05-06-01   FULTON ST
0   A082   397254.0        1014.5 2018-06-16  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-17  05-06-01   FULTON ST
0   A082   397254.0           0.0 2018-06-18  05-06-01   FULTON ST
0   A082   398347.5        1093.5 2018-06-19  05-06-01   FULTON ST
0   A082   399502.0        1154.5 2018-06-20  05-06-01   FULTON ST
0   A082   400673.0        1171.0 2018-06-21  05-06-01   FULTON ST
0   A082   401871.5        1198.5 2018-06-22  05-06-01   FULTON ST
0   A082   402966.5        1095.0 2018-06-23  05-06-01   FULTON ST
0   A082   403422.5         456.0 2018-06-24  05-06-01   FULTON ST
0   A082   403807.0         384.5 2018-06-25  05-06-01   FULTON ST
0   A082   404909.5        1102.5 2018-06-26  05-06-01   FULTON ST
0   A082   406080.0        1170.5 2018-06-27  05-06-01   FULTON ST
0   A082   407202.0        1122.0 2018-06-28  05-06-01   FULTON ST
0   A082   408508.5        1306.5 2018-06-29  05-06-01   FULTON ST
0   A082   409565.5        1057.0 2018-06-30  05-06-01   FULTON ST

[289140 rows x 6 columns]

In [101]:
df_day_new = df_day.reset_index(drop=True)
df_day_new = df_day_new.dropna()
df_day_new = df_day_new[df_day_new['Full Time'] >= '2018-05-06']
df_day_new = df_day_new.drop(columns=['Entries'])
df_day_new = df_day_new.rename(index=str, columns={"Entries_diff": "Entries_per_day"})
df_day_new

         C/A  Entries_per_day  Full Time       SCP     Station
5       A006            950.0 2018-05-06  00-00-00  5 AV/59 ST
6       A006            704.0 2018-05-07  00-00-00  5 AV/59 ST
7       A006           1602.0 2018-05-08  00-00-00  5 AV/59 ST
8       A006           1728.5 2018-05-09  00-00-00  5 AV/59 ST
9       A006           1721.0 2018-05-10  00-00-00  5 AV/59 ST
10      A006           1638.0 2018-05-11  00-00-00  5 AV/59 ST
11      A006           1706.5 2018-05-12  00-00-00  5 AV/59 ST
12      A006            913.5 2018-05-13  00-00-00  5 AV/59 ST
13      A006            701.5 2018-05-14  00-00-00  5 AV/59 ST
14      A006           1550.0 2018-05-15  00-00-00  5 AV/59 ST
15      A006           1835.0 2018-05-16  00-00-00  5 AV/59 ST
16      A006           1690.0 2018-05-17  00-00-00  5 AV/59 ST
17      A006           1726.0 2018-05-18  00-00-00  5 AV/59 ST
18      A006           1706.0 2018-05-19  00-00-00  5 AV/59 ST
19      A006            834.0 2018-05-20  00-00-00  5 AV/59 ST
20      A006            845.0 2018-05-21  00-00-00  5 AV/59 ST
21      A006           1681.5 2018-05-22  00-00-00  5 AV/59 ST
22      A006           1723.0 2018-05-23  00-00-00  5 AV/59 ST
23      A006           1814.0 2018-05-24  00-00-00  5 AV/59 ST
24      A006           1726.5 2018-05-25  00-00-00  5 AV/59 ST
25      A006           1626.0 2018-05-26  00-00-00  5 AV/59 ST
26      A006            822.5 2018-05-27  00-00-00  5 AV/59 ST
27      A006            568.5 2018-05-28  00-00-00  5 AV/59 ST
28      A006            737.0 2018-05-29  00-00-00  5 AV/59 ST
29      A006           1607.0 2018-05-30  00-00-00  5 AV/59 ST
30      A006           1675.0 2018-05-31  00-00-00  5 AV/59 ST
31      A006           1766.5 2018-06-01  00-00-00  5 AV/59 ST
32      A006           1641.0 2018-06-02  00-00-00  5 AV/59 ST
33      A006            909.0 2018-06-03  00-00-00  5 AV/59 ST
34      A006            684.5 2018-06-04  00-00-00  5 AV/59 ST
...      ...              ...        ...       ...         ...
289110  A082           1282.0 2018-06-01  05-06-01   FULTON ST
289111  A082           1147.5 2018-06-02  05-06-01   FULTON ST
289112  A082            520.5 2018-06-03  05-06-01   FULTON ST
289113  A082            534.0 2018-06-04  05-06-01   FULTON ST
289114  A082           1153.0 2018-06-05  05-06-01   FULTON ST
289115  A082           1116.0 2018-06-06  05-06-01   FULTON ST
289116  A082           1078.0 2018-06-07  05-06-01   FULTON ST
289117  A082           1160.0 2018-06-08  05-06-01   FULTON ST
289118  A082           1006.5 2018-06-09  05-06-01   FULTON ST
289119  A082            451.0 2018-06-10  05-06-01   FULTON ST
289120  A082            331.0 2018-06-11  05-06-01   FULTON ST
289121  A082           1042.0 2018-06-12  05-06-01   FULTON ST
289122  A082           1125.0 2018-06-13  05-06-01   FULTON ST
289123  A082           1123.0 2018-06-14  05-06-01   FULTON ST
289124  A082           1088.5 2018-06-15  05-06-01   FULTON ST
289125  A082           1014.5 2018-06-16  05-06-01   FULTON ST
289126  A082              0.0 2018-06-17  05-06-01   FULTON ST
289127  A082              0.0 2018-06-18  05-06-01   FULTON ST
289128  A082           1093.5 2018-06-19  05-06-01   FULTON ST
289129  A082           1154.5 2018-06-20  05-06-01   FULTON ST
289130  A082           1171.0 2018-06-21  05-06-01   FULTON ST
289131  A082           1198.5 2018-06-22  05-06-01   FULTON ST
289132  A082           1095.0 2018-06-23  05-06-01   FULTON ST
289133  A082            456.0 2018-06-24  05-06-01   FULTON ST
289134  A082            384.5 2018-06-25  05-06-01   FULTON ST
289135  A082           1102.5 2018-06-26  05-06-01   FULTON ST
289136  A082           1170.5 2018-06-27  05-06-01   FULTON ST
289137  A082           1122.0 2018-06-28  05-06-01   FULTON ST
289138  A082           1306.5 2018-06-29  05-06-01   FULTON ST
289139  A082           1057.0 2018-06-30  05-06-01   FULTON ST

[264147 rows x 5 columns]

In [103]:
df_day_new.to_csv('Entries_per_day.csv')