In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [51]:
# Load original data set
data_path = '/Volumes/Transcend/metis_data/Turnstile_Usage_Data__2018.csv'
freq = 'D' # 'D' = '1 day' , 'H' = '1 hour' 
df_orig = pd.read_csv(data_path)
df_orig

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,2056268,5177036
1,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,70294362,20274025
2,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,14197229,13704110
3,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1806541,2182381
4,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,15598097,6250334
5,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,6069026,7074661
6,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,4927946,3748371
7,A033,R170,02-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1806541,2182381
8,A033,R170,02-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,694109,207786
9,A033,R170,02-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,70294362,20274025
10,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,2056268,5177036
11,A033,R170,02-00-04,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,4927946,3748371
12,A033,R170,02-00-03,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,6069026,7074661
13,A033,R170,02-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,694109,207786
14,A033,R170,02-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,14197229,13704110
15,A033,R170,02-00-05,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,15598097,6250334
16,A034,R170,03-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1923632,14843362
17,A034,R170,03-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3687618,2644410
18,A034,R170,03-00-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,1923632,14843362
19,A034,R170,03-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,68007701,17207000
20,A034,R170,03-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,499334,1229391
21,A034,R170,03-06-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,68007701,17207000
22,A034,R170,03-06-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,202795687,85357013
23,A034,R170,03-03-00,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3298435,8319358
24,A034,R170,03-06-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,202795687,85357013
25,A034,R170,03-00-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,499334,1229391
26,A034,R170,03-06-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3965537,2697302
27,A034,R170,03-00-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,3687618,2644410
28,A034,R170,03-03-01,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,5569358,3334854
29,A034,R170,03-03-02,14 ST-UNION SQ,LNQR456W,BMT,12/28/2018,00:00:00,REGULAR,11499477,1255112
...,...,...,...,...,...,...,...,...,...,...,...
10111441,PTH17,R541,01-00-03,THIRTY THIRD ST,1,PTH,12/23/2017,23:34:05,REGULAR,0,624646
10111442,PTH19,R549,02-02-04,NEWARK C,1,PTH,12/23/2017,23:34:44,REGULAR,11458,1207
10111443,PTH07,R550,00-01-00,CITY / BUS,1,PTH,12/23/2017,23:35:17,REGULAR,705646,316016
10111444,PTH07,R550,00-01-03,CITY / BUS,1,PTH,12/23/2017,23:35:38,REGULAR,22560,7426
10111445,PTH20,R549,03-01-04,NEWARK HM HE,1,PTH,12/23/2017,23:36:26,REGULAR,20148,508771
10111446,PTH04,R551,00-01-04,GROVE STREET,1,PTH,12/23/2017,23:37:50,REGULAR,12267,27879
10111447,PTH03,R552,00-00-0A,JOURNAL SQUARE,1,PTH,12/23/2017,23:38:27,REGULAR,63,3552289
10111448,PTH20,R549,03-01-08,NEWARK HM HE,1,PTH,12/23/2017,23:39:21,REGULAR,40,3930
10111449,PTH04,R551,00-01-02,GROVE STREET,1,PTH,12/23/2017,23:40:50,REGULAR,294205,400278
10111450,PTH22,R540,00-04-07,PATH NEW WTC,1,PTH,12/23/2017,23:42:06,REGULAR,10819,23659
10111451,PTH05,R543,00-00-03,EXCHANGE PLACE,1,PTH,12/23/2017,23:43:25,REGULAR,592989,152535
10111452,PTH09,R548,00-00-00,CHRISTOPHER ST,1,PTH,12/23/2017,23:43:39,REGULAR,471951,756777
10111453,PTH19,R549,02-01-06,NEWARK C,1,PTH,12/23/2017,23:43:45,REGULAR,71881,8153
10111454,PTH05,R543,00-04-02,EXCHANGE PLACE,1,PTH,12/23/2017,23:44:33,REGULAR,151,44
10111455,PTH04,R551,00-04-06,GROVE STREET,1,PTH,12/23/2017,23:44:46,REGULAR,33382,20603
10111456,PTH04,R551,00-00-00,GROVE STREET,1,PTH,12/23/2017,23:46:15,REGULAR,151201,46323
10111457,PTH03,R552,00-00-03,JOURNAL SQUARE,1,PTH,12/23/2017,23:47:27,REGULAR,82025,24232
10111458,PTH10,R547,00-00-04,9TH STREET,1,PTH,12/23/2017,23:48:09,REGULAR,133500,790410
10111459,PTH11,R545,00-00-03,14TH STREET,1,PTH,12/23/2017,23:48:51,REGULAR,4271,195
10111460,PTH02,R544,00-00-00,HARRISON,1,PTH,12/23/2017,23:48:59,REGULAR,29679,7207
10111461,PTH05,R543,00-00-00,EXCHANGE PLACE,1,PTH,12/23/2017,23:49:08,REGULAR,711590,47759
10111462,PTH17,R541,01-01-03,THIRTY THIRD ST,1,PTH,12/23/2017,23:49:20,REGULAR,248386,113198
10111463,PTH06,R546,00-00-02,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:51:49,REGULAR,3021,866
10111464,PTH16,R550,01-00-00,LACKAWANNA,1,PTH,12/23/2017,23:52:01,REGULAR,14659,51404
10111465,PTH05,R543,00-01-07,EXCHANGE PLACE,1,PTH,12/23/2017,23:54:18,REGULAR,14057,2311
10111466,PTH22,R540,00-01-00,PATH NEW WTC,1,PTH,12/23/2017,23:54:36,REGULAR,99297,24068
10111467,PTH06,R546,00-00-03,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:55:47,REGULAR,4417,2955
10111468,PTH07,R550,00-02-02,CITY / BUS,1,PTH,12/23/2017,23:58:16,REGULAR,12121,56099
10111469,PTH06,R546,00-00-06,PAVONIA/NEWPORT,1,PTH,12/23/2017,23:58:34,REGULAR,174521,680268
10111470,PTH03,R552,00-00-07,JOURNAL SQUARE,1,PTH,12/23/2017,23:59:34,REGULAR,4020504,1291262

In [52]:
import re
df = df_orig.copy()
# Truncating data set
mask = df_orig['Date'].map(lambda x: re.search('(05|06)/.+/2018', x) != None)
df = df_orig[mask]

# Adding new column 'Full Time' with data and time information
df['Full Time']=pd.to_datetime(df['Date'] + ' ' + df['Time'], format = '%m/%d/%Y %H:%M:%S')

# Delete whitespace
df = df.rename(columns=lambda x: x.strip())

df

/Users/cmiless/miniconda3/envs/home/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Full Time
4937116,A002,R051,02-05-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,0,785,2018-06-30 00:00:00
4937117,A002,R051,02-03-02,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5829202,7929617,2018-06-30 00:00:00
4937118,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,6675523,2262828,2018-06-30 00:00:00
4937119,A002,R051,02-03-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,745916,1157188,2018-06-30 00:00:00
4937120,A002,R051,02-06-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,7545453,160663,2018-06-30 00:00:00
4937121,A002,R051,02-03-04,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,6760979,3552066,2018-06-30 00:00:00
4937122,A002,R051,02-03-06,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,8555445,491076,2018-06-30 00:00:00
4937123,A002,R051,02-00-01,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5978032,1338019,2018-06-30 00:00:00
4937124,A002,R051,02-05-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,1544,0,2018-06-30 00:00:00
4937125,A002,R051,02-03-03,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,5420059,6307785,2018-06-30 00:00:00
4937126,A002,R051,02-03-05,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,10875278,1361551,2018-06-30 00:00:00
4937127,A002,R051,02-03-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,REGULAR,1096971,4093215,2018-06-30 00:00:00
4937128,A010,R080,00-00-05,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,862839,242209,2018-06-30 00:00:00
4937129,A010,R080,00-00-01,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,14486668,5457561,2018-06-30 00:00:00
4937130,A010,R080,00-00-07,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,272628,32310,2018-06-30 00:00:00
4937131,A010,R080,00-00-04,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3856457,1944129,2018-06-30 00:00:00
4937132,A010,R080,00-00-00,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3424159,1601623,2018-06-30 00:00:00
4937133,A010,R080,00-00-06,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,17812908,5033982,2018-06-30 00:00:00
4937134,A010,R080,00-00-03,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,3085380,1525415,2018-06-30 00:00:00
4937135,A010,R080,00-00-02,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,10551116,4127543,2018-06-30 00:00:00
4937136,A011,R080,01-00-01,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,16652715,17989829,2018-06-30 00:00:00
4937137,A011,R080,01-00-02,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1562339488,1293333218,2018-06-30 00:00:00
4937138,A011,R080,01-00-05,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1700223,1633381,2018-06-30 00:00:00
4937139,A011,R080,01-00-03,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,1662676038,1256364574,2018-06-30 00:00:00
4937140,A011,R080,01-00-04,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,450072,428390,2018-06-30 00:00:00
4937141,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,06/30/2018,00:00:00,REGULAR,885907529,491229321,2018-06-30 00:00:00
4937142,A013,R081,01-05-00,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,883,0,2018-06-30 00:00:00
4937143,A013,R081,01-03-00,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,4475026,5020406,2018-06-30 00:00:00
4937144,A013,R081,01-03-02,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,5286794,2342790,2018-06-30 00:00:00
4937145,A013,R081,01-05-01,49 ST,NQRW,BMT,06/30/2018,00:00:00,REGULAR,0,605,2018-06-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
6653065,PTH10,R547,00-00-02,9TH STREET,1,PTH,05/01/2018,23:27:18,REGULAR,347558,355379,2018-05-01 23:27:18
6653066,PTH07,R550,00-02-03,CITY / BUS,1,PTH,05/01/2018,23:28:06,REGULAR,9590,42851,2018-05-01 23:28:06
6653067,PTH18,R549,01-02-01,NEWARK BM BW,1,PTH,05/01/2018,23:29:10,REGULAR,86567,3875,2018-05-01 23:29:10
6653068,PTH21,R540,01-00-04,PATH WTC 2,1,PTH,05/01/2018,23:30:15,REGULAR,241553,786981,2018-05-01 23:30:15
6653069,PTH06,R546,00-00-02,PAVONIA/NEWPORT,1,PTH,05/01/2018,23:31:15,REGULAR,269207,97222,2018-05-01 23:31:15
6653070,PTH02,R544,00-00-04,HARRISON,1,PTH,05/01/2018,23:33:03,REGULAR,159138,8563,2018-05-01 23:33:03
6653071,PTH18,R549,01-00-04,NEWARK BM BW,1,PTH,05/01/2018,23:33:17,REGULAR,4010,79,2018-05-01 23:33:17
6653072,PTH07,R550,00-00-08,CITY / BUS,1,PTH,05/01/2018,23:34:17,REGULAR,50674,180519,2018-05-01 23:34:17
6653073,PTH18,R549,01-00-00,NEWARK BM BW,1,PTH,05/01/2018,23:34:29,REGULAR,174888,124016,2018-05-01 23:34:29
6653074,PTH01,R549,00-00-09,NEWARK HW BMEBE,1,PTH,05/01/2018,23:35:25,REGULAR,981965,43967,2018-05-01 23:35:25
6653075,PTH07,R550,00-00-04,CITY / BUS,1,PTH,05/01/2018,23:36:43,REGULAR,4433,2958,2018-05-01 23:36:43
6653076,PTH05,R543,00-01-03,EXCHANGE PLACE,1,PTH,05/01/2018,23:38:00,REGULAR,14179,13993,2018-05-01 23:38:00
6653077,PTH20,R549,03-01-05,NEWARK HM HE,1,PTH,05/01/2018,23:38:15,REGULAR,1456,61330,2018-05-01 23:38:15
6653078,PTH13,R541,00-04-08,THIRTY ST,1,PTH,05/01/2018,23:39:03,REGULAR,0,591502,2018-05-01 23:39:03
6653079,PTH04,R551,00-00-04,GROVE STREET,1,PTH,05/01/2018,23:40:57,REGULAR,36633,66022,2018-05-01 23:40:57
6653080,PTH18,R549,01-02-03,NEWARK BM BW,1,PTH,05/01/2018,23:45:02,REGULAR,28550,659,2018-05-01 23:45:02
6653081,PTH13,R541,00-04-03,THIRTY ST,1,PTH,05/01/2018,23:46:21,REGULAR,515879,54568,2018-05-01 23:46:21
6653082,PTH01,R549,00-01-04,NEWARK HW BMEBE,1,PTH,05/01/2018,23:47:01,REGULAR,911,350107,2018-05-01 23:47:01
6653083,PTH19,R549,02-00-03,NEWARK C,1,PTH,05/01/2018,23:47:33,REGULAR,77231,5203,2018-05-01 23:47:33
6653084,PTH16,R550,01-01-07,LACKAWANNA,1,PTH,05/01/2018,23:48:08,REGULAR,7708,4960,2018-05-01 23:48:08
6653085,PTH16,R550,01-02-03,LACKAWANNA,1,PTH,05/01/2018,23:48:55,REGULAR,125,1512,2018-05-01 23:48:55
6653086,PTH13,R541,00-04-01,THIRTY ST,1,PTH,05/01/2018,23:50:45,REGULAR,1302074,310275,2018-05-01 23:50:45
6653087,PTH19,R549,02-02-03,NEWARK C,1,PTH,05/01/2018,23:51:25,REGULAR,166330,5017,2018-05-01 23:51:25
6653088,PTH20,R549,03-01-09,NEWARK HM HE,1,PTH,05/01/2018,23:52:54,REGULAR,119,6030,2018-05-01 23:52:54
6653089,PTH01,R549,00-00-05,NEWARK HW BMEBE,1,PTH,05/01/2018,23:54:22,REGULAR,31515,7429,2018-05-01 23:54:22
6653090,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,05/01/2018,23:54:24,REGULAR,46258,1127352,2018-05-01 23:54:24
6653091,PTH05,R543,00-00-01,EXCHANGE PLACE,1,PTH,05/01/2018,23:56:17,REGULAR,67055,2915,2018-05-01 23:56:17
6653092,PTH22,R540,00-00-04,PATH NEW WTC,1,PTH,05/01/2018,23:56:32,REGULAR,139949,242234,2018-05-01 23:56:32
6653093,PTH03,R552,00-01-04,JOURNAL SQUARE,1,PTH,05/01/2018,23:57:51,REGULAR,113846,77867,2018-05-01 23:57:51
6653094,PTH04,R551,00-04-01,GROVE STREET,1,PTH,05/01/2018,23:59:08,REGULAR,138323,120738,2018-05-01 23:59:08

In [54]:
print(df['Full Time'].min(),df['Full Time'].max())

2018-05-01 00:00:00 2018-06-30 23:58:45

In [55]:
# Create a group dataframe for each individual turnstile
gdf = df.groupby(['Station','Line Name','SCP','C/A','Unit'])

print('Number of turnstiles : ',len(gdf))

Number of turnstiles :  4740

In [60]:
# Pick out times to query
#times_query = pd.date_range('2017-12-23 00:00:00','2018-12-28 00:00:00',freq = freq)
times_query = pd.date_range('2018-05-01 23:59:59','2018-06-30 23:59:59',freq = freq)
times_query

DatetimeIndex(['2018-05-01 23:59:59', '2018-05-02 23:59:59',
               '2018-05-03 23:59:59', '2018-05-04 23:59:59',
               '2018-05-05 23:59:59', '2018-05-06 23:59:59',
               '2018-05-07 23:59:59', '2018-05-08 23:59:59',
               '2018-05-09 23:59:59', '2018-05-10 23:59:59',
               '2018-05-11 23:59:59', '2018-05-12 23:59:59',
               '2018-05-13 23:59:59', '2018-05-14 23:59:59',
               '2018-05-15 23:59:59', '2018-05-16 23:59:59',
               '2018-05-17 23:59:59', '2018-05-18 23:59:59',
               '2018-05-19 23:59:59', '2018-05-20 23:59:59',
               '2018-05-21 23:59:59', '2018-05-22 23:59:59',
               '2018-05-23 23:59:59', '2018-05-24 23:59:59',
               '2018-05-25 23:59:59', '2018-05-26 23:59:59',
               '2018-05-27 23:59:59', '2018-05-28 23:59:59',
               '2018-05-29 23:59:59', '2018-05-30 23:59:59',
               '2018-05-31 23:59:59', '2018-06-01 23:59:59',
               '2018-06-02 23:59:59', '2018-06-03 23:59:59',
               '2018-06-04 23:59:59', '2018-06-05 23:59:59',
               '2018-06-06 23:59:59', '2018-06-07 23:59:59',
               '2018-06-08 23:59:59', '2018-06-09 23:59:59',
               '2018-06-10 23:59:59', '2018-06-11 23:59:59',
               '2018-06-12 23:59:59', '2018-06-13 23:59:59',
               '2018-06-14 23:59:59', '2018-06-15 23:59:59',
               '2018-06-16 23:59:59', '2018-06-17 23:59:59',
               '2018-06-18 23:59:59', '2018-06-19 23:59:59',
               '2018-06-20 23:59:59', '2018-06-21 23:59:59',
               '2018-06-22 23:59:59', '2018-06-23 23:59:59',
               '2018-06-24 23:59:59', '2018-06-25 23:59:59',
               '2018-06-26 23:59:59', '2018-06-27 23:59:59',
               '2018-06-28 23:59:59', '2018-06-29 23:59:59',
               '2018-06-30 23:59:59'],
              dtype='datetime64[ns]', freq='D')

In [61]:
# Initialize empty dataframe to append entries
df_all = pd.DataFrame()

# iterates over turnstiles
for i, (name, group) in enumerate(gdf):    
    # filter out only relevant columns
    df_dev = group[['Station','Line Name','SCP','C/A','Unit','Full Time','Entries','Exits']]

    # Interpolate all numerical values 
    df_dev = df_dev.sort_values(by=['Full Time'])
    df_dev = df_dev.set_index('Full Time')
    df_dev = df_dev.drop_duplicates()
    df_dev = df_dev.loc[~df_dev.index.duplicated()]
    newindex = df_dev.index.union(pd.Index(times_query))
    newindex = newindex.drop_duplicates()
    df_dev = df_dev.reindex(index = newindex)
    df_dev.sort_index()
    df_dev = df_dev.interpolate(method = 'time')
    df_dev = df_dev.loc[times_query,:]

    # Find absolute value of differences
    df_dev.sort_index()
    df_dev['Entries_diff']=df_dev['Entries'].diff().abs()
    df_dev['Exits_diff']=df_dev['Exits'].diff().abs()
    
    # Fill in missing Nan's in other columns
    def_values = {'Station':name[0],'Line Name':name[1],'SCP':name[2],'C/A':name[3],'Unit':name[4]}
    df_dev = df_dev.fillna(value = def_values)

    # Appends entries per day data for each turnstile.
    df_dev['Full Time'] = df_dev.index
    df_all = pd.concat([df_all,df_dev],ignore_index = True)
        
    if i % 100 == 0:
        print(i, *name)

0 1 AV L 00-00-00 H007 R248
100 125 ST 1 00-00-02 R174 R034
200 14 ST ACEL 01-06-02 N078 R175
300 15 ST-PROSPECT FG 00-06-01 N542 R241
400 169 ST F 01-00-00 N340A R115
500 191 ST 1 00-00-01 R185 R274
600 23 ST FM 00-00-04 N509 R203
700 3 AV-149 ST 25 01-03-00 R310 R053
800 34 ST-HUDSON YD 7 00-00-03 R550 R072
900 34 ST-PENN STA ACE 04-05-00 N070 R012
1000 42 ST-PORT AUTH ACENQRS1237W 01-00-00 N062 R011
1100 49 ST NQRW 02-00-01 A014 R081
1200 50 ST D 00-00-02 E004 R234
1300 59 ST NQR456W 02-00-01 A002 R051
1400 66 ST-LINCOLN 1 00-05-01 R160A R164
1500 72 ST BC 00-06-00 N046 R281
1600 80 ST A 00-00-00 N131 R383
1700 88 ST A 00-00-02 N133 R384
1800 ASTOR PL 6 01-00-02 R220 R160
1900 AVENUE M BQ 00-00-02 B022 R229
2000 BEACH 105 ST AS 00-05-01 N186 R418
2100 BLEECKER ST 6DF 00-03-01 R217A R194
2200 BROAD ST JZ 01-00-02 A084 R125
2300 CANAL ST JNQRZ6W 00-00-03 A046 R463
2400 CHAMBERS ST ACE23 03-00-03 N092 R029
2500 CITY HALL NRW 00-03-02 A047 R087
2600 COURT SQ 7 00-05-00 R508 R346
2700 DYCKMAN ST 1 00-00-00 R186 R036
2800 EXCHANGE PLACE 1 00-04-06 PTH05 R543
2900 FOREST HILLS 71 EFMR 00-03-01 N333A R141
3000 FULTON ST 2345ACJZ 01-04-00 R113 R028
3100 GRAND-NEWTOWN MR 00-03-00 N327 R254
3200 GROVE STREET 1 00-01-04 PTH04 R551
3300 HOYT-SCHER ACG 00-00-01 N108 R217
3400 JAY ST-METROTEC ACF 00-00-04 N103 R127
3500 JUNCTION BLVD 7 00-06-00 R528 R097
3600 LACKAWANNA 1 01-01-05 PTH16 R550
3700 MARBLE HILL-225 1 00-06-00 R192 R039
3800 MT EDEN AV 4 00-00-01 R285 R308
3900 NEWARK C 1 02-01-03 PTH19 R549
4000 ORCHARD BEACH 6 00-03-00 OB01 R459
4100 PAVONIA/NEWPORT 1 00-00-03 PTH06 R546
4200 RALPH AV C 00-00-03 N121B R438
4300 SOUTH FERRY 1RW 02-00-02 R101 R001
4400 SUTTER AV L 00-00-00 H037 R349
4500 TOMPKINSVILLE 1 00-05-01 S102 R165
4600 WALL ST 23 00-00-03 R111 R027
4700 WOODHAVEN BLVD MR 00-03-01 N329 R201

In [62]:
df_all

,Station,Line Name,SCP,C/A,Unit,Entries,Exits,Entries_diff,Exits_diff,Full Time
0,1 AV,L,00-00-00,H007,R248,1.348266e+07,1.508775e+07,NaN,NaN,2018-05-01 23:59:59
1,1 AV,L,00-00-00,H007,R248,1.348660e+07,1.509268e+07,3934.994028,4924.999097,2018-05-02 23:59:59
2,1 AV,L,00-00-00,H007,R248,1.349069e+07,1.509750e+07,4089.997292,4825.995764,2018-05-03 23:59:59
3,1 AV,L,00-00-00,H007,R248,1.349479e+07,1.510286e+07,4098.996389,5354.987222,2018-05-04 23:59:59
4,1 AV,L,00-00-00,H007,R248,1.349774e+07,1.510795e+07,2950.001528,5088.995208,2018-05-05 23:59:59
5,1 AV,L,00-00-00,H007,R248,1.349998e+07,1.511150e+07,2245.015903,3551.029236,2018-05-06 23:59:59
6,1 AV,L,00-00-00,H007,R248,1.350365e+07,1.511595e+07,3669.996319,4446.997778,2018-05-07 23:59:59
7,1 AV,L,00-00-00,H007,R248,1.350752e+07,1.512084e+07,3867.997917,4891.994722,2018-05-08 23:59:59
8,1 AV,L,00-00-00,H007,R248,1.351143e+07,1.512576e+07,3905.995764,4919.999861,2018-05-09 23:59:59
9,1 AV,L,00-00-00,H007,R248,1.351585e+07,1.513069e+07,4428.995625,4931.998056,2018-05-10 23:59:59
10,1 AV,L,00-00-00,H007,R248,1.351989e+07,1.513580e+07,4032.995833,5112.984583,2018-05-11 23:59:59
11,1 AV,L,00-00-00,H007,R248,1.352258e+07,1.514033e+07,2692.009306,4524.004653,2018-05-12 23:59:59
12,1 AV,L,00-00-00,H007,R248,1.352450e+07,1.514350e+07,1917.010694,3168.022222,2018-05-13 23:59:59
13,1 AV,L,00-00-00,H007,R248,1.352812e+07,1.514806e+07,3626.990833,4568.996111,2018-05-14 23:59:59
14,1 AV,L,00-00-00,H007,R248,1.353216e+07,1.515266e+07,4040.002917,4597.003194,2018-05-15 23:59:59
15,1 AV,L,00-00-00,H007,R248,1.353646e+07,1.515723e+07,4299.995903,4569.989097,2018-05-16 23:59:59
16,1 AV,L,00-00-00,H007,R248,1.354053e+07,1.516241e+07,4069.996458,5176.998194,2018-05-17 23:59:59
17,1 AV,L,00-00-00,H007,R248,1.354492e+07,1.516750e+07,4383.989653,5095.989306,2018-05-18 23:59:59
18,1 AV,L,00-00-00,H007,R248,1.354785e+07,1.517199e+07,2932.010208,4488.994028,2018-05-19 23:59:59
19,1 AV,L,00-00-00,H007,R248,1.354997e+07,1.517588e+07,2116.011875,3889.017292,2018-05-20 23:59:59
20,1 AV,L,00-00-00,H007,R248,1.355355e+07,1.518068e+07,3587.993403,4802.006667,2018-05-21 23:59:59
21,1 AV,L,00-00-00,H007,R248,1.355770e+07,1.518527e+07,4143.000000,4585.996806,2018-05-22 23:59:59
22,1 AV,L,00-00-00,H007,R248,1.356178e+07,1.519030e+07,4081.996042,5027.992639,2018-05-23 23:59:59
23,1 AV,L,00-00-00,H007,R248,1.356571e+07,1.519532e+07,3935.999792,5017.001042,2018-05-24 23:59:59
24,1 AV,L,00-00-00,H007,R248,1.356967e+07,1.520038e+07,3951.994306,5064.990139,2018-05-25 23:59:59
25,1 AV,L,00-00-00,H007,R248,1.357208e+07,1.520452e+07,2415.008889,4137.005278,2018-05-26 23:59:59
26,1 AV,L,00-00-00,H007,R248,1.357401e+07,1.520777e+07,1925.004792,3253.012083,2018-05-27 23:59:59
27,1 AV,L,00-00-00,H007,R248,1.357578e+07,1.521099e+07,1776.003472,3221.002222,2018-05-28 23:59:59
28,1 AV,L,00-00-00,H007,R248,1.357943e+07,1.521601e+07,3643.993819,5019.999583,2018-05-29 23:59:59
29,1 AV,L,00-00-00,H007,R248,1.358343e+07,1.522077e+07,4001.999444,4758.994306,2018-05-30 23:59:59
...,...,...,...,...,...,...,...,...,...,...
289110,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.042550e+02,0.000000,0.120000,2018-06-01 23:59:59
289111,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.043750e+02,0.000000,0.120000,2018-06-02 23:59:59
289112,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.044950e+02,0.000000,0.120000,2018-06-03 23:59:59
289113,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.046150e+02,0.000000,0.120000,2018-06-04 23:59:59
289114,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.047350e+02,0.000000,0.120000,2018-06-05 23:59:59
289115,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.048550e+02,0.000000,0.120000,2018-06-06 23:59:59
289116,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.049750e+02,0.000000,0.120000,2018-06-07 23:59:59
289117,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.050950e+02,0.000000,0.120000,2018-06-08 23:59:59
289118,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.052150e+02,0.000000,0.120000,2018-06-09 23:59:59
289119,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.053350e+02,0.000000,0.120000,2018-06-10 23:59:59
289120,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.054550e+02,0.000000,0.120000,2018-06-11 23:59:59
289121,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.055750e+02,0.000000,0.120000,2018-06-12 23:59:59
289122,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.056950e+02,0.000000,0.120000,2018-06-13 23:59:59
289123,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.058150e+02,0.000000,0.120000,2018-06-14 23:59:59
289124,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.059350e+02,0.000000,0.120000,2018-06-15 23:59:59
289125,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.063928e+02,0.000000,0.457849,2018-06-16 23:59:59
289126,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.607153,2018-06-17 23:59:59
289127,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-18 23:59:59
289128,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-19 23:59:59
289129,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-20 23:59:59
289130,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-21 23:59:59
289131,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-22 23:59:59
289132,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-23 23:59:59
289133,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-24 23:59:59
289134,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-25 23:59:59
289135,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-26 23:59:59
289136,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-27 23:59:59
289137,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-28 23:59:59
289138,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-29 23:59:59
289139,ZEREGA AV,6,00-05-01,R419,R326,3.900000e+01,1.070000e+02,0.000000,0.000000,2018-06-30 23:59:59

In [65]:
# Postprocessing
df_all_new = df_all.dropna() # removes nan's due to interpolation at end cases
df_all_new = df_all_new.reset_index(drop=True)
df_all_new = df_all_new[df_all_new['Full Time'] >= '2018-05-06'] # 2018-05-06 is 8 weeks prior to 2018-07-01 
df_all_new = df_all_new.drop(columns=['Entries','Exits'])
threshold = 15000
print('fraction excluded due to threshold criteria: ', len(df_all_new[df_all_new['Entries_diff']>=threshold])/len(df_all_new))
df_all_new = df_all_new.drop(df_all_new[df_all_new['Entries_diff']>=threshold].index)
# df_all_new = df_all_new.rename(index=str, columns={"Entries_diff": "Entries_every_"+freq,"Exits_diff": "Exits_every_"+freq})
df_all_new = df_all_new.rename(index=str, columns={"Entries_diff": "Entries_per_day","Exits_diff": "Exits_per_day"})
df_all_new

fraction excluded due to threshold criteria:  0.000870611926626341

,Station,Line Name,SCP,C/A,Unit,Entries_per_day,Exits_per_day,Full Time
4,1 AV,L,00-00-00,H007,R248,2245.015903,3551.029236,2018-05-06 23:59:59
5,1 AV,L,00-00-00,H007,R248,3669.996319,4446.997778,2018-05-07 23:59:59
6,1 AV,L,00-00-00,H007,R248,3867.997917,4891.994722,2018-05-08 23:59:59
7,1 AV,L,00-00-00,H007,R248,3905.995764,4919.999861,2018-05-09 23:59:59
8,1 AV,L,00-00-00,H007,R248,4428.995625,4931.998056,2018-05-10 23:59:59
9,1 AV,L,00-00-00,H007,R248,4032.995833,5112.984583,2018-05-11 23:59:59
10,1 AV,L,00-00-00,H007,R248,2692.009306,4524.004653,2018-05-12 23:59:59
11,1 AV,L,00-00-00,H007,R248,1917.010694,3168.022222,2018-05-13 23:59:59
12,1 AV,L,00-00-00,H007,R248,3626.990833,4568.996111,2018-05-14 23:59:59
13,1 AV,L,00-00-00,H007,R248,4040.002917,4597.003194,2018-05-15 23:59:59
14,1 AV,L,00-00-00,H007,R248,4299.995903,4569.989097,2018-05-16 23:59:59
15,1 AV,L,00-00-00,H007,R248,4069.996458,5176.998194,2018-05-17 23:59:59
16,1 AV,L,00-00-00,H007,R248,4383.989653,5095.989306,2018-05-18 23:59:59
17,1 AV,L,00-00-00,H007,R248,2932.010208,4488.994028,2018-05-19 23:59:59
18,1 AV,L,00-00-00,H007,R248,2116.011875,3889.017292,2018-05-20 23:59:59
19,1 AV,L,00-00-00,H007,R248,3587.993403,4802.006667,2018-05-21 23:59:59
20,1 AV,L,00-00-00,H007,R248,4143.000000,4585.996806,2018-05-22 23:59:59
21,1 AV,L,00-00-00,H007,R248,4081.996042,5027.992639,2018-05-23 23:59:59
22,1 AV,L,00-00-00,H007,R248,3935.999792,5017.001042,2018-05-24 23:59:59
23,1 AV,L,00-00-00,H007,R248,3951.994306,5064.990139,2018-05-25 23:59:59
24,1 AV,L,00-00-00,H007,R248,2415.008889,4137.005278,2018-05-26 23:59:59
25,1 AV,L,00-00-00,H007,R248,1925.004792,3253.012083,2018-05-27 23:59:59
26,1 AV,L,00-00-00,H007,R248,1776.003472,3221.002222,2018-05-28 23:59:59
27,1 AV,L,00-00-00,H007,R248,3643.993819,5019.999583,2018-05-29 23:59:59
28,1 AV,L,00-00-00,H007,R248,4001.999444,4758.994306,2018-05-30 23:59:59
29,1 AV,L,00-00-00,H007,R248,4088.995069,4864.001875,2018-05-31 23:59:59
30,1 AV,L,00-00-00,H007,R248,4163.995764,5346.981319,2018-06-01 23:59:59
31,1 AV,L,00-00-00,H007,R248,2764.005556,4670.999931,2018-06-02 23:59:59
32,1 AV,L,00-00-00,H007,R248,2353.005278,3715.023194,2018-06-03 23:59:59
33,1 AV,L,00-00-00,H007,R248,3922.000000,4531.998889,2018-06-04 23:59:59
...,...,...,...,...,...,...,...,...
282967,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-01 23:59:59
282968,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-02 23:59:59
282969,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-03 23:59:59
282970,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-04 23:59:59
282971,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-05 23:59:59
282972,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-06 23:59:59
282973,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-07 23:59:59
282974,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-08 23:59:59
282975,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-09 23:59:59
282976,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-10 23:59:59
282977,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-11 23:59:59
282978,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-12 23:59:59
282979,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-13 23:59:59
282980,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-14 23:59:59
282981,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.120000,2018-06-15 23:59:59
282982,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.457849,2018-06-16 23:59:59
282983,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.607153,2018-06-17 23:59:59
282984,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-18 23:59:59
282985,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-19 23:59:59
282986,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-20 23:59:59
282987,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-21 23:59:59
282988,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-22 23:59:59
282989,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-23 23:59:59
282990,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-24 23:59:59
282991,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-25 23:59:59
282992,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-26 23:59:59
282993,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-27 23:59:59
282994,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-28 23:59:59
282995,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-29 23:59:59
282996,ZEREGA AV,6,00-05-01,R419,R326,0.000000,0.000000,2018-06-30 23:59:59

In [66]:
# Save csv and pickle file
df_all_new.to_csv('Data_every_'+freq+'.csv')
# with open('Entries_per_day.p', 'wb') as to_write:
#     pickle.dump(df_day_new, to_write)